{% extends 'base.html.twig' %}

{% block body %}

<div class="solidarity-wrapper">
  <div class="row">

    <div class="col-sm-12  col-md-6">
      <form method="post">
          <div class="row">
            <div class="col">
              <h5 class="p-3 mb-2 bg-primary text-white"><i class="fa fa-user" aria-hidden="true"></i> Je me connecte</h5>
            </div>
          </div>

          {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {% if app.user %}
              <div class="mb-3">
                  Vous êtes identifié comme {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
              </div>
          {% endif %}

          <label for="email">Email</label>
          <input type="text" value="" name="email" id="email" class="form-control" required autofocus>

          <label for="password">Mot de passe</label>
          <input type="password" name="password" id="password" class="form-control" required>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

          <div class="form-group row" style="text-align:center;">
            <button type="submit" class="btn btn-primary">
                Je me connecte
            </button>
          </div>
          
          <a  href="{{ path('app.forgotten.password') }}">Mot de passe oublié ?</a>

      </form>
    </div>

    <div class="col-sm-12 col-md-6">

      {{ form_start(registrationForm) }}

        <div class="row">
          <div class="col">
            <h5 class="p-3 mb-2 bg-primary text-white"><i class="fa fa-user-plus" aria-hidden="true"></i> Je veux m'incrire comme référant</h5>
          </div>
        </div>
      
        {{ form_row(registrationForm.firstname) }}
        
        {{ form_row(registrationForm.lastname) }}
        
        {{ form_row(registrationForm.email) }}
        
        {{ form_row(registrationForm.phone) }}
        
        {{ form_row(registrationForm.plainPassword) }}
        
        {{ form_row(registrationForm.district) }}
        
        {{ form_row(registrationForm.address) }}
        
        {{ form_row(registrationForm.infos) }}

        <div class="row">
          <button type="submit" class="btn btn-primary">Je m'inscris comme référent</button>
        </div>

      {{ form_end(registrationForm) }}

    </div>
    
  </div>      
  </div>      
{% endblock %}
