{% extends 'base.html.twig' %}

{% block body %}

<div class="solidarity-wrapper">
  <div class="row">

    <div class="col-sm-12 col-md-6">

      {{ form_start(form) }}

        <div class="row">
          <div class="col">
            <h5 class="p-3 mb-2 bg-primary text-white">Je met à jour mon profil</h5>
          </div>
        </div>
      
        {{ form_row(form.firstname) }}
        
        {{ form_row(form.lastname) }}
        
        {{ form_row(form.email) }}
        
        {{ form_row(form.phone) }}
        
        {{ form_row(form.district) }}
        
        {{ form_row(form.address) }}
        
        {{ form_row(form.infos) }}

        <div class="row">
          <button type="submit" class="btn btn-primary">Je met à jour mon profil</button>
        </div>

      {{ form_end(form) }}

    </div>
    
  </div>      
  </div>      
{% endblock %}
