{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}

{% block body %}

<div class="solidarity-wrapper">
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Liste des activités proposées</h2>
      <ul class="solidarity-activities-list-tags">
        {% for tag in tags %}
          <li>
            <a href="{{ path('app.activities.by.tag', {'slug': tag.slug}) }}" class="badge badge-success" title="Retrouvez toutes les activités {{ tag.name}}">{{ tag.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <ul class="list-group list-group-flush solidarity-activities-list">
    {% for activity in activities %}
        <li class="list-group-item">
            {{ activity.name }} 
            <br>
            <a href="{{ activity.url }}" target="_blank">{{ activity.url }}</a>
            <br>
            {{ activity.description }} 
            <br>
            {% for tag in activity.tags %}
              <a href="{{ path('app.activities.by.tag', {'slug': tag.slug}) }}" class="badge badge-success" title="Retrouvez toutes les activités {{ tag.name}}">{{ tag.name}}</a>
            {% endfor %}
        </li>
    {% endfor %}
      
  </ul>
  <div class="navigation">
      {{ knp_pagination_render(activities) }}
  </div>

</div>
{% endblock %}
