{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}

{% block body %}

<div class="solidarity-wrapper">
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Liste des infos pratiques</h2>
      <ul class="solidarity-activities-list-tags">
        {% set group = null %}
        {% for tag in tags %}
          <li>

            {% if tag.tagGroup != group %}
                {% set group = tag.tagGroup %}
                <hr>
                {{- tag.tagGroup -}}
                
            {% endif %}
            
            <a href="{{ path('app.activities.by.tag', {'slug': tag.slug}) }}" class="badge badge-success {{ tag == currentTag ? "active":""}}" title="Retrouvez toutes les infos {{ tag.name}}">{{ tag.name}}</a>

          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <ul class="list-group list-group-flush solidarity-activities-list">
    {% for activity in activities %}
        <li class="list-group-item {{activity.isMerchant ? 'activity-merchant activity-merchant-'~activity.type : ''}}">
            {# {% if activity.longTypeOf %}
              <span class="badge badge-secondary">{{ activity.longTypeOf }}</span>
              <br>  
            {% endif %} #}
            {{ activity.name }} 
            <br>
            {% if activity.url %}
              <a href="{{ activity.url }}" target="_blank">{{ activity.url }}</a>
              <br>
            {% endif %}  
            
            {{ activity.description|raw }} 
            
            <br>

            {% if activity.isMerchant %}
              
              <br>

              {{ activity.address }}

 

              <br>
              <a href="tel:{{ activity.phone }}"><i class="fa fa-phone" aria-hidden="true"></i> {{ activity.phone }}</a>
              <hr>
              
              {% if activity.file %}
                  <a data-fancybox="gallery" href="{{ vich_uploader_asset(activity, 'mainFile') }}" class="solidarity-merchant-visual">
                    <img src="{{ vich_uploader_asset(activity, 'mainFile')}}" title="{{ activity.name}}">
                  </a>

                  <hr>
              {% endif %}   

              {% if activity.card %}
                  <a href="{{ vich_uploader_asset(activity, 'cardFile') }}" target="_blank" class="solidarity-merchant-card">
                      <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Voir la carte  
                  </a>
                  <br>
              {% endif %}   

              <i class="fa fa-truck" aria-hidden="true"></i> Livraison : {{ activity.isShipping ? '<i class="fa fa-check-circle" aria-hidden="true"></i> oui' : '<i class="fa fa-ban" aria-hidden="true"></i> non' }}
              <br>
              <i class="fa fa-credit-card" aria-hidden="true"></i> Commande : {{ activity.isOrderable ? '<i class="fa fa-check-circle" aria-hidden="true"></i> oui' : '<i class="fa fa-ban" aria-hidden="true"></i> non' }}
              <hr>

              <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Paiement par cheque : {{ activity.isPaymentCheck ? '<i class="fa fa-check-circle" aria-hidden="true"></i>  oui' : '<i class="fa fa-ban" aria-hidden="true"></i> non' }}
              <br>

              <i class="fa fa-money" aria-hidden="true"></i> Paiement en espèce : {{ activity.isPaymentCash ? '<i class="fa fa-check-circle" aria-hidden="true"></i>  oui' : '<i class="fa fa-ban" aria-hidden="true"></i> non' }}
              <br>

              <i class="fa fa-credit-card" aria-hidden="true"></i> Paiement par carte bancaire : {{ activity.isPaymentBankcard ? '<i class="fa fa-check-circle" aria-hidden="true"></i> oui' : '<i class="fa fa-ban" aria-hidden="true"></i> non' }}
              <br>

              <hr>
              <table class="table table-striped table-hover">
                <caption>
                  <i class="fa fa-clock-o" aria-hidden="true"></i> Horaires Ouverture
                </caption>
                <tr><td>Lundi</td><td>{{ activity.openingTimeMon ? activity.openingTimeMon : 'Fermé' }}</td></tr>
                <tr><td>Mardi</td><td>{{ activity.openingTimeTue ? activity.openingTimeTue : 'Fermé' }}</td></tr>
                <tr><td>Mercredi</td><td>{{ activity.openingTimeWed ? activity.openingTimeWed : 'Fermé' }}</td></tr>
                <tr><td>Jeudi</td><td>{{ activity.openingTimeThu ? activity.openingTimeThu : 'Fermé' }}</td></tr>
                <tr><td>Vendredi</td><td>{{ activity.openingTimeFri ? activity.openingTimeFri : 'Fermé' }}</td></tr>
                <tr><td>Samedi</td><td>{{ activity.openingTimeSat ? activity.openingTimeSat : 'Fermé' }}</td></tr>
                <tr><td>Dimanche</td><td>{{ activity.openingTimeSun ? activity.openingTimeSun : 'Fermé' }}</td></tr>
              </table>
              
            {% endif %}

            {% for tag in activity.tags %}
              <a href="{{ path('app.activities.by.tag', {'slug': tag.slug}) }}" class="badge badge-success" title="Retrouvez toutes les infos {{ tag.name}}">{{ tag.name}}</a>
            {% endfor %}
        </li>
    {% endfor %}
      
 </ul>
{% endblock %}
