{% extends 'base.html.twig' %}

{% block body %}

<div class="solidarity-wrapper">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Liste des collectes de quartier et référents</h2>
    </div>
  </div>

  <ul class="list-group list-group-flush solidarity-referents-list">
    {% for referent in district.referents %}
        <li class="list-group-item">

            {% if referent.file %}
              <img src="{{ vich_uploader_asset(referent, 'mainFile') | imagine_filter('referent') }}" title="{{ referent.firstname ~ referent.lastname }}">
            {% else %}            
              <img src="/logo.jpeg" title="{{ referent.firstname ~ referent.lastname }}">
            {% endif %}

            {{ referent.firstname }} {{ referent.lastname }}

            {% if referent.phone %}
              <br>Télephone : <a href="tel:{{ referent.phone }}">{{ referent.phone }}</a> 
            {% endif %}

            {% if referent.email %}
              <br>Email : <a href="mailto:{{ referent.email }}">{{ referent.email }}</a>
            {% endif %}

        </li>
    {% endfor %}    
  </ul>


  <ul class="solidarity-collects">
  {% for collect in district.collects %}
      <li>
        Quartier <a href="{{ path('app.district', {'slug' : collect.district.slug })}}">{{ collect.district.name}}</a> - Début {{ collect.startAt|date('d/m/Y H:i')}}  
        <a class="btn btn-primary" href="{{ path('app.donate') }}">je fais un don <i class="fa fa-heart" aria-hidden="true"></i> </a>
      </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
