{% extends 'base.html.twig' %}

{# {% block title %}Hello IndexController!{% endblock %} #}
    

{% block stylesheets %}
    {{ parent() }}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
{% endblock %}

{% block body %}

<div class="solidarity-wrapper">

  {% if thanks and thankMercant %}
    {# <div class="jumbotron jumbotron-fluid"> #}
      {# <div class="container"> #}
          <h2 class="display-6"><i class="fa fa-heart" aria-hidden="true"></i> Remerciements</h2>
          <div class="slider">
              <div class="column">
              {% for thankMercant in thankMercant %}
                <img src="{{ vich_uploader_asset(thankMercant, 'mainFile') | imagine_filter('slider') }}" title="{{ thankMercant.title }}">
                <div class="solidarity-thanks-caption">
                  <h3>{{ thankMercant.title }}</h3>
                  <p>{{ thankMercant.description }}</p>
                  {% if thankMercant.url %}
                    <p><a href="{{ thankMercant.url }}" title="{{ thankMercant.title }}" target="_blank">{{ thankMercant.url }}</a></p>
                  {% endif %}  
                </div>
              {% endfor %}
              </div>
              <div class="column-wrapper">
                {% for thank in thanks %}
                  <div class="column">
                    <img src="{{ vich_uploader_asset(thank, 'mainFile') | imagine_filter('slider_small') }}" title="{{ thank.title }}">
                  </div>
              {% endfor %}    
              </div>
          </div>
        {# </div> #}
    {# </div> #}
  
  {% endif %}



  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h2 class="display-4">Collectes à venir</h2>
          <table class="solidarity-collects">
            {% for collect in collects %}
                
                <tr>
                  <td>
                    Quartier <a href="{{ path('app.district', {'slug' : collect.district.slug })}}">{{ collect.district.name}}</a> 
                  </td>
                  <td class="d-none d-md-table-cell d-lg-table-cell">
                    Début {{ collect.startAt|date('d/m/Y H:i')}}
                  </td>  
                  <td>
                    <a class="btn btn-primary" href="{{ path('app.donate') }}">je fais un don <i class="fa fa-heart" aria-hidden="true"></i> </a>
                  <td>    
                  
                <tr>
            {% endfor %}
          </table>
      </div>
  </div>
  
  
  {# <ul>
    <li><a href="">Comment soutenir les soignants ? </a></li>
    <li><a href="">Comment aider sans aggraver la situation ?</a></li> 
    <li><a href="">Comment se faire aider si je dois rester confiner ?</a></li> 
    <li><a href="">Comment occuper les enfants ? </a></li>
    <li><a href="">Que se passe t il dans ma ville ?</a></li>
  </ul> #}


</div>
{% endblock %}
