{% extends 'base.html.twig' %}

{% block body %}

<div class="solidarity-wrapper">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4"><img src="/referent.jpg" alt="Liste des référents de quartier" style="max-width:100%"></h2>
      <p class="lead">
        Vous souhaitez aider, devenir référent ou consulter le planning des collectes ?
      </p>
      <a href="{{ path('app_login') }}" class="btn btn-primary">Inscription / Identifiez vous</a>
    </div>
  </div>

  <ul class="list-group list-group-flush solidarity-referents-list">
    {% for referent in referents %}
        <li class="list-group-item">

            {% if referent.file %}
              <img src="{{ vich_uploader_asset(referent, 'mainFile') | imagine_filter('referent') }}" title="{{ referent.firstname ~ referent.lastname }}">
            {% else %}            
              <img src="/logo.jpeg" title="{{ referent.firstname ~ referent.lastname }}">
            {% endif %}

            {{ referent.firstname }} {{ referent.lastname }}

            {# {% if referent.phone %}
              <br>Télephone : <a href="tel:{{ referent.phone }}">{{ referent.phone }}</a> 
            {% endif %}

            {% if referent.email %}
              <br>Email : <a href="mailto:{{ referent.email }}">{{ referent.email }}</a>
            {% endif %} #}

            {% if referent.district %}
              <br>Quartier : <a href="{{ path('app.district', {'slug' : referent.district.slug })}}">{{ referent.district }}</a>
            {% endif %}
        </li>


        
    {% endfor %}    
  </ul>

  <div class="navigation">
      {{ knp_pagination_render(referents) }}
  </div>

</div>
{% endblock %}
