{% extends 'base.html.twig' %}

{% block body %}

<div class="solidarity-wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Liste de vos collectes</h2>
      <p class="lead">
        Vous souhaitez créer une collecte pour le quartier "{{ user.district.name }}" ?
      </p>
      <a href="{{ path('app.collect.create') }}" class="btn btn-primary">Je créer une collecte</a>
    </div>
  </div>

  <ul class="list-group list-group-flush solidarity-referents-list">
    {% for collect in collects %}
        <li class="list-group-item">

            Début : {{ collect.startAt|date("d/m/Y H:m:i") }} - Fin {{ collect.endAt|date("d/m/Y H:m:i") }}
            <br/>  
            Liste des donations à collecter : 
            <ul>
              {% for donation in collect.donations %}
                <li>
                    <strong>Donateur :</strong> {{ donation.person }} <br/>
                    <strong>Addresse :</strong> {{ donation.adress }} <br/>                  
                    <strong>Téléphone :</strong>{{ donation.phone }} <br/>                  
                    <strong>Email :</strong>{{ donation.email }} <br/>
                    <strong>Infos :</strong> {{ donation.additionalInfo }} <br/>
                    <strong>Collecté :</strong> {{ donation.isCollected ? 'oui': 'non'}} <br/>
                    <strong>Destinataire de la collecte :</strong> {{ donation.recipient }} <br/>
                    <strong>Type de dons :</strong> 
                                        
                    {% for typeOfDonation in  donation.typeOfDonations %}
                        
                        {{ typeOfDonation.name }} <br/>

                    {% endfor %}                      


                </li>
              {% endfor %}
            </ul>  
            
            
            
            {# {{ referent.firstname }} {{ referent.lastname }} #}
        </li>
    {% endfor %}
  </ul>

  {# <div class="navigation">
      {{ knp_pagination_render(referents) }}
  </div> #}
</div>
{% endblock %}
