{% extends 'base.html.twig' %}

{% block body %}

<div class="solidarity-wrapper">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Liste de vos collectes</h2>
      <p class="lead">
        Vous souhaitez créer une collecte pour le quartier "{{ user.district.name }}" ?
      </p>
      <a href="{{ path('app.collect.create') }}" class="btn btn-primary">Je créer une collecte</a>
    </div>
  </div>

  <ul class="list-group list-group-flush solidarity-referents-list">
    {% for collect in collects %}
        <li class="list-group-item">
            {% if collect.isCollected %} <span class="badge badge-success">Collecté</span> {% else %} <span class="badge badge-info">En cours</span> {% endif %} : <i class="fa fa-clock-o" aria-hidden="true"></i> Collecte Début : {{ collect.startAt|date("d/m/Y H:m:i") }} - Fin {{ collect.endAt|date("d/m/Y H:m:i") }}  
            <br>
            <a href="{{ path('app.collect.view', {'id' : collect.id})}}" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> Voir la collecte </a>
            {{ collect.donations|length }} donation(s) à collecter
        </li>
    {% endfor %}
  </ul>

</div>
{% endblock %}
