<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Triel solidarité Réseau d'entraide de proximité. {% endblock %}</title>
        <meta name="description" content="{% block meta_description 'Face à l’épidémie de Covid-19, certains d\'entre nous sont en première ligne de la lutte pour sauver des vies et assurer les fonctions vitales de notre pays.' %}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}



        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


        <meta property="og:type" content="website" />
        {# <meta property="og:site_name" content="En première ligne" />
        <meta property="og:url" content="{{ block('meta_canonical') }}" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('meta_description') }}" />
        <meta property="og:image" content="{% block meta_image (url('homepage')|trim('/')) ~ asset('res/sharer.png') %}" />
        <meta property="og:image:width" content="{% block meta_image_width 2400 %}" />
        <meta property="og:image:height" content="{% block meta_image_height 1260 %}" /> #}
    </head>
    <body>

        {% include "partial/header.html.twig" %}

        <div class="container-fluid">

            {% block body %}{% endblock %}

        </div>

        <footer class="footer">
            {# <div class="container"> #}
                <span class="text-muted"><a href=""><i class="fa fa-heart" aria-hidden="true"></i> 2020© - triel-solidarite.org</a></span>
                <span class="text-muted">| <a href="/mentions-legales"><i class="fa fa-gavel" aria-hidden="true"></i> mentions légales</a></span>
                <span class="text-muted">| <a href=""><i class="fa fa-github" aria-hidden="true"></i> code source</a></span>
            {# </div>  #}
        </footer>
    
    </body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    
</html>
