<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Triel solidarité Réseau d'entraide de proximité. {% endblock %}</title>
        <meta name="description" content="{% block meta_description ' Ce site a été créé pour faciliter le flux de vos généreux dons. C’est aussi un espace de renseignements et d’échanges entre les différents besoins des habitants de Triel sur seine' %}" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


        <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


        <meta property="og:type" content="website" />
        {# <meta property="og:site_name" content="En première ligne" />
        <meta property="og:url" content="{{ block('meta_canonical') }}" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('meta_description') }}" />
        <meta property="og:image" content="{% block meta_image (url('homepage')|trim('/')) ~ asset('res/sharer.png') %}" />
        <meta property="og:image:width" content="{% block meta_image_width 2400 %}" />
        <meta property="og:image:height" content="{% block meta_image_height 1260 %}" /> #}
    </head>
    <body>

        {% include "partial/header.html.twig" %}

        <div class="container-fluid">

            {% block body %}{% endblock %}

        </div>

        <footer class="footer">
            {# <div class="container"> #}
                <span class="text-muted"><a href="{{ path('app.index') }}"><i class="fa fa-heart" aria-hidden="true"></i> 2020© - trielsolidarite.org</a></span>
                <span class="text-muted">| <a href="{{ path('app.legal') }}"><i class="fa fa-gavel" aria-hidden="true"></i> mentions légales</a></span>
                <span class="text-muted">| <a href="https://github.com/cbastienbaron/triel-solidaire" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> code source</a></span>
            {# </div>  #}
        </footer>
    
    </body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    
</html>
