<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}triel solidaire {% endblock %}</title>
        <meta name="description" content="{% block meta_description 'Face à l’épidémie de Covid-19, certains d\'entre nous sont en première ligne de la lutte pour sauver des vies et assurer les fonctions vitales de notre pays.' %}" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <meta property="og:type" content="website" />
        {# <meta property="og:site_name" content="En première ligne" />
        <meta property="og:url" content="{{ block('meta_canonical') }}" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('meta_description') }}" />
        <meta property="og:image" content="{% block meta_image (url('homepage')|trim('/')) ~ asset('res/sharer.png') %}" />
        <meta property="og:image:width" content="{% block meta_image_width 2400 %}" />
        <meta property="og:image:height" content="{% block meta_image_height 1260 %}" /> #}
    </head>
    <body>
        <div class="container-fluid">

            {% block body %}{% endblock %}

        </div>
        
    </body>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
